@{
    ViewData["Title"] = "Účel";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Webová služba, která slouží k poskytnutí informací o počasí na základě agregace dat z <abbr title="XML, JSON, BitMap">různých</abbr> datových zdrojů.</p>