@{
    ViewData["Title"] = "Účel";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Webová služba, která slouží k poskytnutí informací o počasí na základě agregace dat z <abbr title="XML, JSON, BitMap">různých</abbr> datových zdrojů.
    Služba vrací data ve formě bitmap případně v textové podobě ve formátu XML či JSON. Bitmap předpovědi  poskytují data o jednom prvku počasí pro určitou plochu v konkrétním čase.
    XML a JSON předpovědi naopak poskytují informace o počasí pro všechny dostupné prvky předpovědi, ale jen pro jeden bod v jednom nebo více stejně oddělených časech.</p>