@{
    ViewData["Title"] = "Jak je venku?";
    ViewData["Message"] = "Zadej místo a čas a dozvíš se to!";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    API: https://localhost:44336/forec?type={prec}&time={2020-10-28T16:44:10}&loaders={bj}
</div>

<div>
    <a href="@Url.Action("Loader")">Načíst nové bitmapy a odstranit staré</a>
</div>
